    <h1>Fraction Fun</h1>
    <div class="row">
        <div class="column">
            <div>
                <input type="text" id="numerator_1">
                <hr/>
                <input type="text" id="denominator_1">
            </div>
        </div>
        <div class="column">
            <div id="filler"></div>
            <select>
                <option value="+">&#43;</option>
                <option value="-">&#8722;</option>
                <option value="X">&#215;</option>
                <option value="/">&#247;</option>

            </select>
        </div>
        <div class="column">
            <div>
                <input type="text" id="numerator_2">
                <hr/>
                <input type="text" id="denominator_2">
            </div>
        </div>
        <div class="column">
            <div id="filler"></div>
            <div style="font-size: 175px;">=</div>
        </div>
    </div>
